/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'foundation-icons';

.title {
  a{
    color: white;
  }
  color: white;
  margin-left: 25px;
}



.blog_summary {
  max-height: 3em;
  // width: 200px;
  overflow: hidden;
  // text-overflow: ellipsis;
}

.blog_summary2 {
  max-height: 4em;
  overflow: hidden;
  margin-bottom: 15px;
}

.aside{
  // width: 350px;
  @media (min-width: 300px){
    float: right;
  }
}

.div-thing {
  @media (min-width: 1200px){
    position: fixed;
    float: left;
    left: 0;
    width: 275px;
  }
}

.fixed-class{
  position: fixed;
  top: 100;
  left: 0;
}

// .some-class{
 // position: fixed;
//   top: 100;
//   right: 0;
// }

#button1{
  background-color: #253569;
}

#button2{
  background-color: #B0496C;
}

#button3{
  background-color: #8139BA
}

.girl{
  margin-left: 10px;
}

.icon {
  margin-left: 150px;
  font-size: 75px;
}

.medium-4 {
  color: #5E6663;
}

.fi-layout{
  margin-right: 50px;
}

#home-icon-panel {
  // border-color: #3A52A;
  // border: 7px inset #36B04C;
  border-radius: 12px;
}

#home-words {
  margin-left: 75px;
}

.top-bar {
 background-color: #267D36;
}

// .button:hover{
//   background-color: #211FA8;
// }
//
// .button{
//   background-color: #FF5F07;
// }
//
.button.tiny{
  background-color: #B139BA;
}

.button {
  background-color: #39B9BA
}

.panel{
  // background-color: #251FA8
  border-radius: 5px;
}

.button:hover{
  background-color: #B0496C;
}

.right:hover{
  background-color: #B0496C;
}

.main{
  min-height: 100%;
}

#body{
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}
