/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title {
  color: white;
  margin-left: 25px;
}

.blog_summary {
  max-height: 3em;
  // width: 200px;
  overflow: hidden;
  // text-overflow: ellipsis;
}


.top-bar {
 background-color: #050429;
}

// .button:hover{
//   background-color: #211FA8;
// }
//
// .button{
//   background-color: #FF5F07;
// }
//
.button.tiny.round{
  background-color: #FF5F07;
}

.row.panel{
  // background-color: #251FA8
}

.right:hover{
  background-color: #FF5F07;
}
