<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Blog', blogs_path %></li>
<li><%= link_to 'FlowFinders', users_path %>
<li><%= link_to 'Videos', new_video_path %></li>
