<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>

  <ul class="title-area">
    <li class="left"><%= link_to '' %></li>
    <h3 class="title" href="">Chasing FlowState</h3>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul class="right">
      <li class="name"><%= link_to 'Home', root_path %></li>
      <%= render 'layouts/navigation_links' %>
      <li><%= link_to '' %></li>
    </ul>
  </div>
</nav>
